{% include 'OpenWidePublishAgendaBundle:list:page_styles.html.twig' %}
{% if paginatedItems.getNbResults %}
    <div class="row">
        <div class="col-md-4">
            {{ render( controller( "ez_content:viewLocation", {
            "locationId": location.id,
            "viewType": "calendar"
        } ) )
            }}
        </div>
        <div class="col-md-8">
            {% for result in paginatedItems.getCurrentPageResults %}
                <div class="agenda-event-list ">        
                    {{ render( controller( "ez_content:viewLocation", {
                    "locationId": result.id,
                    "viewType": "line"
                } ) )
                    }}
                </div>                    
            {% endfor %}
        </div>
    </div>
    {% if paginatedItems.haveToPaginate %}
        <nav style="text-align: center">
            <ul class="pagination">
                {% if paginatedItems.hasPreviousPage %}
                    <li>
                        <a href="{{ path(location, {"page": paginatedItems.getPreviousPage }) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for i in 1..paginatedItems.getNbPages %}
                    <li {% if (i == paginatedItems.getCurrentPage) %} class="active" {% endif %}>
                        <a href="{{ path(location, {"page": i }) }}">{{ i }}</a>
                    </li>
                {% endfor %}
                {% if next_page > 0 %}
                    <li>
                        <a href="{{ path(location, {"page": paginatedItems.getNextPage }) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <nav style="text-align: center">
            &nbsp;<br/>&nbsp;
        </nav>
    {% endif %}
{% endif %}
{% include 'OpenWidePublishAgendaBundle:list:page_scripts.html.twig' %}